<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
    </head>
  <body>
    {% block content %}
    <div class="container">
        <div id='map' style='width: 800px; height: 600px;'></div>
        <script src="{{ url_for('static', filename = 'config.js') }}"></script>
        <script>
            mapboxgl.accessToken = config.accessToken
            var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [25.4606, 65.0241],
            zoom: 12
            });

            map.on('load', function() {
            var geojsonData = {
                "type": "FeatureCollection",
                "features": [{
                "type": "Feature",
                "geometry": {
                    "type": "Point",
                    "coordinates": [25.4606, 65.0241],
                }
                }]
            };
            var markerTypes = {
                "LineString": "line",
                "Polygon": "fill",
                "Point": "circle"
            };
            var paintTypes = {
                "LineString": {
                    "line-color": "#088",
                    "line-opacity": 0.5,
                    "line-width":8
                },
                "Polygon": {
                    "fill-color": "#088",
                    "fill-opacity": 0.5
                },
                "Point": {
                    "circle-color": "#088",
                    "circle-opacity":0.5,
                    "circle-radius":8
                }
            };

            var geojsonData = JSON.parse('{{ geodata|safe }}');
            var descriptionData = JSON.parse('{{ descriptions|safe }}');
            for (i = 0; i < geojsonData.length; i++) {
                var geometryType = geojsonData[i].features[0].geometry.type
                var description = descriptionData[i]
                geojsonData[i].features[0].properties.description = description
                map.addLayer({
                "id": "points"+i,
                "type": markerTypes[geometryType],
                "source": {
                "type": "geojson",
                "data": geojsonData[i],
                },
                "paint": paintTypes[geometryType]
                })
                
                
                map.on('click', 'points'+i, function (e) {
                    
                    new mapboxgl.Popup()
                        .setLngLat(e.lngLat)
                        .setHTML(e.features[0].properties.description)
                        .addTo(map);
                });
                map.on('mouseenter', 'points'+i, function () {
                map.getCanvas().style.cursor = 'pointer';
                });
                
                // Change it back to a pointer when it leaves.
                map.on('mouseleave', 'points'+i, function () {
                map.getCanvas().style.cursor = '';
                });
            }
            })
        </script>
    </div>
    {% endblock %}
    </div>
  </body>
</html>